<!-- <ion-view title="Welcome Slider" hide-nav-bar="true" id=1> -->
  <!-- <ion-content padding="false" class=" manual-remove-top-padding" scroll="false"> -->
    <ion-slides pager="true" disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="welcomeSlider-slider2" style="width:100%;height:100%">
      <ion-slide id="welcomeSlider-slide210" style="background:url(&quot;assets/img/xffpUizWT4i8S4EQ4pkR_electronics-1845272.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 357px;"></div>
              <div class="welcome-text">
	              <h3 id="welcomeSlider-heading2" style="color:#D432D4;font-weight:400;text-align:right;">Welcome to Lync</h3>
	              <div id="welcomeSlider-markdown1" style="text-align:right;" class="show-list-numbers-and-dots">
	                <p style="color:#E899F0;">Connecting the world with
	                  <strong>music</strong>
	                </p>
	              </div>
	          </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide id="welcomeSlider-slide211" style="background:url(&quot;assets/img/YEgNRkqtSTChwDkYhqpi_records-1148927.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 339px;"></div>
              <div class="welcome-text">
              <h3 id="welcomeSlider-heading4" style="color:#FFFFFF;font-weight:300;text-align:right;">Share and discover</h3>
              <div id="welcomeSlider-markdown4" style="text-align:right;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Find out what your friends, family and the world is listening to</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide id="welcomeSlider-slide212" style="background:url(&quot;assets/img/SyZVeHVYQ922xcuned0i_audience-1846652.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 366px;"></div>
              <div class="welcome-text">
              <h3 id="welcomeSlider-heading5" style="color:#FFFFFF;font-weight:300;text-align:right;">Lync yourself to the world</h3>
              <div id="welcomeSlider-markdown5" style="text-align:right;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Join the community and share with us your music and discover ours</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide id="welcomeSlider-slide214" style="background:url(&quot;assets/img/XnsNGgqQhNderMeM6jHA_amplifier-1246645.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="assets/img/J8KA4Sg5SfWcDQYUOtpv_Group955.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 300px; height: 38px;"></div>
              <div>
              <!-- <form id="welcomeSlider-form11" class="list"> -->
                <ion-list>
                  <ion-item>
        				    <ion-label floating>Username</ion-label>
        				    <ion-input type="text" [(ngModel)]="email" disable="loader"></ion-input>
				          </ion-item>
                  <ion-item>
        				    <ion-label floating>Password</ion-label>
        				    <ion-input type="password" [(ngModel)]="password" disable="loader"></ion-input>
        				  </ion-item>	
    				    </ion-list>					
              <!-- </form> -->
              </div>
              <div style="margin-left: 20px;margin-right: 22px;">
              <button ion-button style="background: #f8f8f8;color:#4A148C;font-size:14px;border-radius:14px 14px 14px 14px;" class="button button-stable button-small button-block" (click)="login()">Sign in</button>
              <!-- <button ion-button  id="welcomeSlider-button3" style="background: #f8f8f8;color:#4A148C;font-size:14px;border-radius:14px 14px 14px 14px;" class="button button-stable button-small button-block" [navPush]="signin">Sign in</button> -->

              </div>
              <h5 id="welcomeSlider-heading8" style="color:#FFFFFF;font-weight:300;text-align:center;">or</h5>
              <a id="welcomeSlider-button4" style="font-weight:600;font-size:14px;border-radius:14px 14px 14px 14px;" [navPush]="signup">Sign up</a>
              <div *ngIf="loader" style="width: 378px;"><img style="position: absolute;width: 32px;padding-top: 23px;" src="assets/img/spinner.gif"/></div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

  <!-- </ion-content> -->
<!-- </ion-view> -->