<!--
  Generated template for the Signin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
 <ion-tabs  selectedIndex="2">
    <ion-tab tabIcon="search" [root]="search"></ion-tab>
    <ion-tab tabIcon="mail" [root]="search"></ion-tab>
    <ion-tab tabIcon="home" [root]="feed"></ion-tab>
    <ion-tab tabIcon="contact" [root]="profile"></ion-tab>
    <ion-tab tabIcon="notifications" [root]="profile"></ion-tab>
  </ion-tabs>
  <!-- <div class='router-content'>
  dddd
  </div>
  <div class='nav-bar'>
  	<span class="nav-tabs"><ion-icon ios="ios-search" md="md-search"></ion-icon></span>
  	<span class="nav-tabs"><ion-icon ios="ios-mail" md="md-mail"></ion-icon></span>

  	<span class="nav-tabs"><ion-icon name="notifications"></ion-icon></span>
  	<span class="nav-tabs"><ion-icon name="contact"></ion-icon></span>
  </div> -->
</ion-content>
