<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>users-detail</ion-title>
        <ion-buttons start (click)="logOut()">
            <button>
                <ion-icon name="person"></ion-icon>
                Logout
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="content">
    <ion-card text-center class="wide-box mylync" style="height: 220px;">
        <!-- Z
<img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" style="margin: auto; margin-top: 20px;  border-radius: 500px; height:200px; width: 200px; "/> -->
        <ion-card-content>
            <ion-item class="username purple-text">
                @<span>{{data?.username}}</span>
                <button ion-button (click)="follow()" class="profile-follow-button" *ngIf="searchedUser && !isFollowing">follow</button>
                <!-- <button ion-button (click)="follow()" class="profile-follow-button" *ngIf="searchedUser && isFollowing">unfollow</button> -->
            </ion-item>
            <ion-item class="name purple-text">
                <span class="fname purple-text">Hi,&nbsp;{{data?.first_name | uppercase}}</span>&nbsp;<span class="lname purple-text">{{data?.last_name | uppercase}}</span>
            </ion-item>
            <ion-item class="email purple-text">
                <span>{{data?.email}}</span>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <span text-uppercase class="mylync-text purple-text">
        Lyncs
    </span>
    <div style="height: 40px;">
    </div>
    <ion-card *ngFor="let item of data?.lync" class="wide-box mylync option-card">
        <ion-card class="feed-card" (click)="info(item)">
            <ion-item style="height: 7px;">
                <div class="top-header">
                    <ion-avatar item-left class="avatar-header">
                        <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img">
                    </ion-avatar>
                    <h3 style="padding-top: 14px;">
                        <span class="purple-text">@{{data?.username}}</span> lync'd a 
                        <span class="purple-text">track</span> from  </h3>
                    <img *ngIf="item?.listen == 'playmusic'" src="assets/img/playmusic.png" class="listenon" />
                    <label class="when">{{item?.when}}</label>
                </div>
            </ion-item>
            <div class="image-box">
                <img src="{{item?.albumArtUrl}}" class="album-art">
                <div class="card-title song-title">
                    <div>
                        <p class="image-title">{{item?.title}}</p>
                    </div>
                    <div style="">
                        <p class="card-artist">{{item?.artist}}</p>
                    </div>
                </div>
            </div>
            <ion-item class="card-caption">
                <h3>"{{item?.caption}}"</h3>
            </ion-item>
        </ion-card>
    </ion-card>
</ion-content>
