<ion-card class="option-card">
    <ion-card (click)="info(item.id)" class="feed-card">
        <ion-item style="height: 7px;">
            <div class="top-header">
                <ion-avatar item-left class="avatar-header">
                    <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img">
                </ion-avatar>
                <h3 style="padding-top: 14px;"><span class="purple-text">{{item?.username}}</span> lync'd a <span class="purple-text">track</span> from  </h3>
                <img src="assets/img/soundcloud.ico" class="listenon" />
                <label class="when">{{item?.when}}</label>
            </div>
        </ion-item>
        <div class="image-box">
            <img src="{{item?.imgUrl}}" class="album-art">
            <div class="card-title song-title">
                <div>
                    <p class="image-title">{{item?.title}}</p>
                </div>
                <div style="">
                    <p class="card-artist">{{item?.artist}}</p>
                </div>
            </div>
        </div>
        <ion-item class="card-caption">
            <h3>"{{item?.caption}}"</h3>
        </ion-item>
    </ion-card>
</ion-card>
