<ion-content class="content">
    <div class="wide-box" style="height: 387px;">
        <ion-card>
            <ion-item style="height: 66px;">
                <div class="info-header purple-text" style="font-weight: 400">
                    {{item.artist}} - {{item.title}}
                </div>
            </ion-item>
            <div class="image-box">
                <img src="{{item.albumArtUrl}}" class="album-art">
            </div>
            <ion-item class="card-caption" style="margin-top: 220px;     height: 54px;">
                <ion-avatar item-left class="avatar-header" style="margin-right: 4px;">
                    <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img">
                </ion-avatar>
                <div style="display: inline-flex;">
                    <h3 style="padding-top: 53px;">
	            <span class="purple-text">@{{item.author.username}}</span></h3>
                    <h3 style="padding-top: 50px;
    margin-left: 26px;
    font-weight: 500;" *ngIf="item?.caption != undefined">"{{item?.caption}}"</h3>
                </div>
                <ion-item>
                    <div>
                    </div>
                </ion-item>
            </ion-item>
            <ion-item class="options-itemlist" style="float: left;">
                <div class="options-itemlist-div" style="padding-top: 14px;width: 100%">
                    <img src='assets/img/heart.png' class="heart-image" />
                    <label class="heart-image-label">{{item?.likes}}</label>
                    <img src='assets/img/relync.png' class="relync-image" />
                    <label class="relync-image-label">{{item?.relync}}</label>
                    <label style="font-size: 11px;
    margin-left: 157px;
    margin-top: 11px; font-style: italic">Heard on </label>
                    <img *ngIf="item.listenon == 'soundcloud'" src="assets/img/soundcloud.ico" class="listenon" style="margin-top: 1px; " />
                    <img *ngIf="item.listenon == 'playmusic'" src="assets/img/playmusic.png" class="listenon" style="margin-top: 1px; " />
                </div>
            </ion-item>
        </ion-card>
    </div>
    <div class="wide-box">
        <ion-card>
            <ion-item>
                <div style="font-size: 18px;
    font-weight: 300;">{{item.title}} - {{item.artist}}</div>
                <div class="text-left song-album">{{item.album}}</div>
            </ion-item>
            <ion-item style="height: 65px">
                <div style="display: inline-flex;font-size: small;">
                    <div style="padding-top: 8px;">Listen to on</div>
                    <div style="display: inherit;">
                        <a href="{{item.links.playmusic}}"><img *ngIf="item.links?.playmusic != null" src="assets/img/playmusic.png" class="listenon" style="margin-top: 0px" /></a>
                        <a href="{{item.links.youtube}}"><img *ngIf="item.links?.youtube != null" src="assets/img/youtube.ico" class="listenon" style="margin-top: 0px" /></a>
                        <a href="{{item.links.spotify}}"><img *ngIf="item.links?.spotify != null" src="assets/img/spotify.png" class="listenon" style="margin-top: 0px" /></a>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </div>
    <div class="wide-box">
        <ion-card>
            <ion-item>
                <div class="purple-text" style="font-size: x-large;font-weight: 400">
                    Comments
                </div>
            </ion-item>
            <div *ngFor="let comment of item.comments">
                <ion-item>
                    <ion-avatar item-left class="avatar-header" style="margin-right: 4px;">
                        <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img">
                    </ion-avatar>
                    <div>
                        <div style="font-size: 13px;
    color: grey;">
                            {{comment.by}}
                        </div>
                        <div>
                            {{comment.text}}
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-card>
        <div style="height: 44px;">
        </div>
        <div style="
    padding-left: 20px;
    font-size: 20px;
    color: darkgrey;
    font-weight: 200;
">
            Leave a comment
        </div>
        <div class="wide-box">
            <ion-card>
                <ion-textarea></ion-textarea>
            </ion-card>
        </div>
    </div>
</ion-content>
