<!--
  Generated template for the Feed page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed<ion-icon name="refresh" class="refresh" (click)="refresh()"></ion-icon></ion-title>
    
  </ion-navbar>

</ion-header>
<ion-content class="content">
  <div *ngFor="let item of data | async | select: 'getFeed' " class="wide-box">
    <ion-card class="option-card">
      <ion-card (click)="info(item)" class="feed-card">
        <ion-item style="height: 7px;">
          <div class="top-header">
            <ion-avatar item-left class="avatar-header">
              <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img">
            </ion-avatar>
            <h3 style="padding-top: 14px;"><span class="purple-text">@{{item?.author?.username}}</span> lync'd a <span class="purple-text">track</span> from  </h3>
            <img *ngIf="item?.listenon == 'playmusic'" src="assets/img/playmusic.png" class="listenon" />
            <img *ngIf="item?.listenon == 'spotify'" src="assets/img/spotify.png" class="listenon" />
            <label class="when">{{item?.when}}</label>
        </div>
      </ion-item>
      <div class="image-box">
        <img src="{{item?.albumArtUrl}}" class="album-art">
        <div class="card-title song-title">
          <div>
            <p class="image-title">{{item?.title}}</p>
          </div>
          <div style="">
            <p class="card-artist">{{item?.artist}}</p>
          </div>
        </div>
      </div>
      <ion-item class="card-caption">
        <h3>{{item?.caption}}</h3>
      </ion-item>
    </ion-card>
    <ion-item class="options-itemlist">
      <div class="options-itemlist-div">
        <img src='assets/img/heart.png' class="heart-image"/>
        <label class="heart-image-label">{{item?.likes}}</label>
        <img src='assets/img/relync.png' class="relync-image"/>
        <label class="relync-image-label">{{item?.relync}}</label>
    </div>
  </ion-item>
</ion-card>
</div>
<ion-fab bottom center >
    <button ion-fab mini style="size: 40px;margin-left: 0px !important; background-color: #4a148c" (click)="lyncMusic()">
    	<img src="assets/img/J8KA4Sg5SfWcDQYUOtpv_Group955.png">
    </button>
</ion-fab>
</ion-content>
