page-yourprofile {
.fname {
        font-size: 35px;
        font-weight: 200;
    }
    .lname {
        font-size: 33px;
        font-weight: 500;
        padding-left: 10px;
    }
    .email {
        font-size: 18px
    }
    .username {
        font-weight: 500;
        font-size: 20px;
    }
    .mylync {
        margin-left: -28px;
        width: 121%;
    }
    .mylync-text {
        font-size: 20px;
        font-weight: 400;
    }
}
