<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>search</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="wide-box" style="width: 446px;">
    <ion-searchbar (ionInput)="search()" autocorrect="off" [(ngModel)]="searchText" style="padding: 0px"></ion-searchbar>
    <ion-card *ngFor="let item of item | async"   (click)="openProfile(item)" style="height: 75px;margin-left: 0px;
    width: 100%;
    margin-bottom: 3px;">
        <div style="display: inline-flex;display: inline-flex;width: 100%;height: 100%;" >
            <img src="assets/img/wRt3cUQqThqx9ybX7pAb_cartoon_avatar.jpg" class="avatar-img" style="padding-left: 20px;
    padding-top: 14px;width: 65px;
    height: 60px;
    border-radius: 31px;">
            <span style="padding-top: 22px;
    padding-left: 10px;
    font-size: 21px;
    font-weight: 400;">
                @{{ item.username }}</span>
            <button ion-button (click)="follow(item.email)" class="purple-text follow-button" *ngIf="!item.isFollowing">Follow</button>
            <!-- <button ion-button (click)="follow(item.email)" class="purple-text follow-button" *ngIf="item.isFollowing">Unfollow</button> -->
        </div>
    </ion-card>
</ion-content>
