<!--
  Generated template for the Lyncmusic page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lyncmusic</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <page-lyncform [data$]="data"></page-lyncform> -->
<div class="wide-box" style="height: 387px;">
    <ion-card>
        <ion-item style="height: 66px;">
            <div class="info-header purple-text" style="font-weight: 400">
                {{item.artist}} - {{item.title}}
            </div>
        </ion-item>
        <div class="image-box">
            <img src="{{item.image}}" class="album-art">
        </div>
    </ion-card>
</div>
<div class="wide-box">
    <ion-card>
        <ion-item>
            <div style="font-size: 18px;
    font-weight: 300;">{{item.title}} - {{item.artist}}</div>
            <!-- <div class="text-left song-album">{{item?.album}}</div> -->
        </ion-item>
        <ion-item style="height: 65px">
            <div style="display: inline-flex;font-size: small;">
                <div style="padding-top: 8px;">Listen to on</div>
                <div style="display: inherit;">
                    <a href={{item.youtube}}>
                        <img *ngIf="item?.youtube" src="assets/img/youtube.ico" class="listenon" style="margin-top:0px" />
                    </a>
                    <a href={{item?.spotify}}>
                        <img *ngIf="item?.spotify" src="assets/img/spotify.png" class="listenon" style="margin-top:0px" />
                    </a>
                    <a href={{item?.playmusic}}>
                        <img *ngIf="item?.playmusic" src="assets/img/playmusic.png" class="listenon" style="margin-top:0px" />
                    </a>
                </div>
            </div>
        </ion-item>
    </ion-card>
    <button ion-button style="background: #f8f8f8;color:#4A148C;font-size:14px;border-radius:14px 14px 14px 14px;" class="button button-stable button-small button-block" (click)="lyncNow(item)" [disabled]="enableLync">Lync Now</button>
</div>

<!-- {{data | json}} -->
<!-- hahaha
{{data | json}}
{{data?.nowPlaying?.title }} -->
<!-- <page-lyncform *ngIf="data" [data]=data></page-lyncform> -->
</ion-content>
