.welcome-text {
    margin-right: 20px;
    font-weight: 400;
}

.fab[mini] {
    margin: 8px;
    width: 70px;
    height: 70px;
    line-height: 40px;
}

.content {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

.option-card {
    height: 305px;
}

.top-header {
    display: inline-flex;
    margin-top: 10px;
}

.avatar-header {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 2px;
}

.image-box {
    height: 140px;
    position: absolute;
    width: 100%;
}

.album-art {}

.avatar-img {
    width: 35px;
    height: 35px;
}

.listenon {
    width: 27px;
    height: 27px;
    margin-left: 3px;
    margin-top: 10px;
}

.when {
    padding-left: 39px;
    margin-top: 17px;
    font-size: 11px;
    font-style: italic;
    color: darkgrey;
}

.song-title {}

.image-title {
    font-size: 19px;
    font-weight: 400;
    background-color: rgba(70, 69, 69, 0.57);
    text-align: left;
    padding-left: 10px;
    color: #ece4e4;
}

.song-title p {
    font-size: 19px;
    font-weight: 400;
    background-color: rgba(70, 69, 69, 0.57);
    text-align: left;
    padding-left: 10px;
    color: #ece4e4;
}

.song-artist {
    font-size: 15px;
    font-weight: 600;
}

.song-album {
    font-size: 14px;
    font-weight: 400;
}

.card-lync {
    margin-top: 47px;
    margin-bottom: 56px;
    padding-left: 1px;
    padding-right: 1px;
}

.feed-card {
    /*width: 104%;
      margin-left: -7px;*/
    height: 259px;
    margin-left: 0px;
    width: 100%;
    margin-top: 0px;
}

.wide-box {
    margin-left: -17px;
    margin-right: -17px;
    /*height: 320px;*/
}

ion-card {
    position: relative;
    text-align: center;
    height: 100%;
}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 106%;
    font-weight: bold;
    color: #fff;
    padding-right: 252px;
    padding-left: 9px;
    padding-right: 146px;
    padding-top: 41px;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
}

.transbox {
    /*background-color: rgba(70, 69, 69, 0.57);*/
    /*margin-top: 26px;*/
    /*margin-left: 15px;*/
}

.refresh {
    position: absolute;
    padding-left: 78%;
}

.card-artist {
    margin-top: 0px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(70, 69, 69, 0.57);
    color: #ece4e4;
    position: absolute;
}

.card-caption {
    margin-top: 169px;
    height: 20%;
}

.text-left {
    text-align: left: ;
}

.text-right {
    text-align: right: ;
}

.purple-text {
    color: #4a148c;
    font-weight: 600;
}

.options-itemlist {
    float: right;
    height: 15%;
    padding-bottom: 3%;
}

.options-itemlist-div {
    display: inline-flex;
    float: right;
    padding-bottom: 7px;
}

.heart-image {
    width: 28px;
    padding-bottom: 10px;
    height: 43px;
    padding-top: 7px;
}

.heart-image-label {
    padding-top: 10px;
    padding-left: 5px;
    font-size: smaller;
}

.relync-image {
    width: 68px;
    height: 42px;
}

.relync-image-label {
    position: absolute;
    padding-left: 100px;
    padding-top: 11px;
    font-size: smaller;
}

.follow-button {
    position: absolute;
    height: 21px;
    width: 80px;
    margin-top: 28px;
    background-color: #fdfcff;
    margin-left: 77%;
    font-weight: 500;
    text-transform: none;
}

.profile-follow-button {
    color: #4a148c;
    background-color: #fdfcff;
    text-transform: capitalize;
    border-radius: 10px;
    height: 21px;
    margin-left: 162px;
    position: absolute;
}
