  <ion-header >
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding="true" style="background: url('assets/img/sX89mppPSTaknYEvOYV9_pexels-photo-132838.jpeg') no-repeat center;background-size:cover;" scroll="false" class="has-header">
<!-- <ion-icon name="arrow-dropleft"></ion-icon> -->
    <!-- <form id="signup-form7" class="list"> -->
      <a ion-button class="ion-social-googleplus-outline social-button" style="background-color:#ef473a"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Login with Google +</a>
      <a ion-button class="ion-social-facebook social-button" style="background-color:#387ef5"><ion-icon name="logo-facebook" ></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Login in with Facebook</a>
      <div class="spacer" style="width: 300px; height: 21px;"></div>
      <ion-list id="signup-list2">
	      <ion-item>
	          <ion-label floating>First Name</ion-label>
	          <ion-input type="text" placeholder="" [(ngModel)]="first_name"></ion-input>
	        </ion-item>
	         <ion-item>
	          <ion-label floating>Last Name</ion-label>
	          <ion-input type="text" placeholder="" [(ngModel)]="last_name"></ion-input>
	        </ion-item>
	        <ion-item>
	          <ion-label floating>Username</ion-label>
	          <ion-input type="text" placeholder="" [(ngModel)]="username"></ion-input>
	        </ion-item>
	        <ion-item>
	          <ion-label floating>Email</ion-label>
	          <ion-input type="email" placeholder="" [(ngModel)]="email"></ion-input>
	        </ion-item>
	         <ion-item>
	          <ion-label floating>Password</ion-label>
	          <ion-input type="password" placeholder="" [(ngModel)]="password"></ion-input>
	        </ion-item>
	     	<!-- <ion-item>
		        <ion-label floating>Birthday</ion-label>
		        <ion-datetime displayFormat="MMM DD YYYY" ></ion-datetime>
	        </ion-item> -->
	        <ion-item>
	     		<ion-checkbox id="signup-checkbox1"></ion-checkbox>
	     		<ion-label>Agree to T&amp;Cs?</ion-label>
	      	</ion-item>
       	</ion-list>
       	<a id="signup-button5" ion-button style="font-size:17px; background-color: white; width: 100%; color: grey" (click)="register()">Sign up</a>
    <!-- </form> -->
  </ion-content>
