<!--
  Generated template for the Lyncform page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lyncform</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>kkkh
{{data | async | json}}

</ion-content>
